html {
  width: 100%;
}

body {
  width: 100%;
}

.books-sect {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80vh;
}

.books-list {
  border: 2px solid black;
  width: 100%;
}

.book {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 1%;
}

p {
  flex-grow: 2;
}

.add-book {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#add-book {
  float: right !important;
}

.line {
  width: 7%;
  height: 5px;
  border-bottom-color: #808080;
  border-bottom-style: solid;
  margin: 10px;
  align-self: center;
}

.add-section {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.form {
  width: 70%;
}

header {
  position: fixed;
  z-index: 1;
  left: 3px;
  right: 3px;
  top: 3px;
}

footer {
  position: fixed;
  z-index: 1;
  left: 3px;
  right: 3px;
  bottom: 3px;
}

.contact {
  height: 80vh;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  font-size: 4rem !important;
}

.page {
  display: none !important;
}

.page.active {
  display: flex !important;
}
